doctype html
html(lang='en')
  include ./includes/head.jade
  body(ng-app='cwbApp')
    div(class='container-fluid')
      section(class='popup-content')
        header(class='popup-top-header')
          div(class='popup-title') 
            strong Popup Window
          div(class='close-popup')
            strong x

        section(class='popup-content-main')