<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CWB</title>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/app/app.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/dist/assets/styles/style.css">
    <base href="/">
  </head>
  <body ng-app="cwbApp">
    <div class="container-fluid">
      <section class="popup-content">
        <header class="popup-top-header">
          <div class="popup-title"> <strong>User Add/Edit</strong></div>
          <div class="close-popup"><strong>x</strong></div>
        </header>
        <section class="popup-content-main">
          <form>
            <div class="popup-form-container">
              <div class="popup-form-column0">
                <div class="form-element">
                  <div class="popup-form-column1">
                    <label>Domain</label>
                  </div>
                  <div class="popup-form-column2">
                    <div>ARM</div>
                  </div>
                </div>
              </div>
              <div class="popup-form-column0">
                <div class="form-element">
                  <div class="popup-form-column1">
                    <label>Full Name</label>
                  </div>
                  <div class="popup-form-column2">
                    <input type="text" id="" placeholder="" required="" autofocus class="form-control">
                  </div>
                </div>
              </div>
              <div class="popup-form-column0">
                <div class="form-element">
                  <div class="popup-form-column1">
                    <label>Email</label>
                  </div>
                  <div class="popup-form-column2">
                    <input type="email" id="" placeholder="" required="" autofocus class="form-control">
                  </div>
                </div>
              </div>
              <div class="popup-form-column0">
                <div class="form-element">
                  <div class="popup-form-column1">
                    <label>Role</label>
                  </div>
                  <div class="popup-form-column2">
                    <select multiple class="form-control">
                      <option>Editor</option>
                      <option>Coordinator</option>
                      <option>Administrator</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="popup-form-column0">
                <div class="form-element">
                  <div class="popup-form-column1">
                    <label>Group</label>
                  </div>
                  <div class="popup-form-column2">
                    <select multiple class="form-control">
                      <option>Editor</option>
                      <option>Coordinator</option>
                      <option>Administrator</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="save-cancel-buttons">
              <div role="group" aria-label="..." class="btn-group">
                <div role="group" class="btn-group">
                  <buton type="button" class="btn btn-default">Save</buton>
                  <buton type="button" class="btn btn-default">Cancel</buton>
                </div>
              </div>
            </div>
          </form>
        </section>
      </section>
    </div>
  </body>
</html>