<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CWB</title>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/app/app.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/dist/assets/styles/style.css">
    <base href="/">
  </head>
  <body ng-app="cwbApp">
    <div class="container-fluid">
      <cwb-header role="System Administrator"><-header>
      <nav>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="">BU Management</a></li>
          <li role="presentation"><a href="">User Management</a></li>
          <li role="presentation"><a href="">i18n</a></li>
        </ul>
      </nav>
      <section class="content">
        <nav role="group" aria-label="..." class="btn-group">
          <div role="group" class="btn-group">
            <buton type="button" class="btn btn-default">BU List</buton>
            <buton type="button" class="btn btn-default">Knowledge Assets</buton>
            <buton type="button" class="btn btn-default">Modules Integration</buton>
          </div>
        </nav>
        <h4>Business Unit Details</h4>
        <div class="content-main">
          <form id="bu-details-form">
            <div class="form-container">
              <div class="form-column0">
                <div class="form-element">
                  <div class="form-column1">
                    <label>Domain</label>
                  </div>
                  <div class="form-column2">
                    <input type="url" id="inputDomain" placeholder="" required="" autofocus class="form-control">
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Description</label>
                  </div>
                  <div class="form-column2">
                    <textarea placeholder="" required="" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Address</label>
                  </div>
                  <div class="form-column2">
                    <textarea placeholder="" required="" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Upload logo</label>
                  </div>
                  <div class="form-column2">
                    <div id="upload-logo"></div>
                  </div>
                </div>
              </div>
              <div class="form-column0">
                <div class="form-element">
                  <div class="form-column1">
                    <label>Email</label>
                  </div>
                  <div class="form-column2">
                    <input type="url" id="inputDomain" placeholder="" required="" class="form-control">
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Phone</label>
                  </div>
                  <div class="form-column2">
                    <input type="url" id="inputDomain" placeholder="" required="" class="form-control">
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Date Format</label>
                  </div>
                  <div class="form-column2">
                    <select class="form-control">
                      <option>dd.MM.yyyy</option>
                      <option>dd.MM.yy</option>
                      <option>d.M.y</option>
                      <option>dd/MM/yy</option>
                      <option>yyyy-MM-dd</option>
                    </select>
                  </div>
                </div>
                <div class="form-element">
                  <div class="form-column1">
                    <label>Time Zone</label>
                  </div>
                  <div class="form-column2">
                    <select multiple class="form-control">
                      <option>(UTC)</option>
                      <option>(UTC + 01.00)</option>
                      <option>(UTC + 02.00)</option>
                      <option>(UTC + 03.00)</option>
                      <option>(UTC + 04.00)</option>
                      <option>(UTC + 05.00)</option>
                      <option>(UTC + 06.00)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-column0">
                <div class="form-element">
                  <div class="form-column1">
                    <label>Time Format</label>
                  </div>
                  <div class="form-column2">
                    <select multiple class="form-control">
                      <option>H:mm</option>
                      <option>HH:mm</option>
                      <option>H:mm:ss</option>
                      <option>HH:mm:ss</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="save-cancel-buttons">
              <div role="group" aria-label="..." class="btn-group">
                <div role="group" class="btn-group">
                  <buton type="button" class="btn btn-default">Save</buton>
                  <buton type="button" class="btn btn-default">Cancel</buton>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>