doctype html
html(lang='en')
  include ./includes/head.jade
  body(ng-app='cwbApp')
    div(class='container-fluid')
      cwb-header(role="System Administrator")

      nav
        ul(class='nav nav-tabs')
          li(role='presentation' class='active')
            a(href='#') BU Management
          li(role='presentation')
            a(href='#') User Management
          li(role='presentation')
            a(href='#') i18n
