doctype html
html(lang='en')
  include ./assets/layouts/includes/head
  
  body(ng-app='cwbApp')
    div(class='container-fluid')
      cwb-header(role="System Administrator")
      cwb-nav-tab(tabs="['BU Management', 'User Management', 'i18n']")
      section(class='content')
        div(ng-view)