<cwb-popup>
    <form>
        <div class="popup-form-container">
            <div class="popup-form-column0">
                <div class="form-element">
                    <div class="popup-form-column1">
                        <label>Domain</label>
                    </div>
                    <div class="popup-form-column2">
                        <div>ARM</div>
                    </div>
                </div>
            </div>
            <div class="popup-form-column0">
                <div class="form-element">
                    <div class="popup-form-column1">
                        <label>Full Name</label>
                    </div>
                    <div class="popup-form-column2">
                        <input type="text" id="" placeholder="" required="" autofocus class="form-control">
                    </div>
                </div>
            </div>
            <div class="popup-form-column0">
                <div class="form-element">
                    <div class="popup-form-column1">
                        <label>Email</label>
                    </div>
                    <div class="popup-form-column2">
                        <input type="email" id="" placeholder="" required="" autofocus class="form-control">
                    </div>
                </div>
            </div>
            <div class="popup-form-column0">
                <div class="form-element">
                    <div class="popup-form-column1">
                        <label>Role</label>
                    </div>
                    <div class="popup-form-column2">
                        <select multiple class="form-control">
                            <option>Editor</option>
                            <option>Coordinator</option>
                            <option>Administrator</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="popup-form-column0">
                <div class="form-element">
                    <div class="popup-form-column1">
                        <label>Group</label>
                    </div>
                    <div class="popup-form-column2">
                        <select multiple class="form-control">
                            <option>Editor</option>
                            <option>Coordinator</option>
                            <option>Administrator</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</cwb-popup>