<div class="inline">
    <h4>Users List of&nbsp;</h4>
    <div class="users-list-domain">
        <select multiple class="form-control">
            <option>ARM</option>
            <option>BU1</option>
            <option>BU2</option>
            <option>BU3</option>
            <option>BU4</option>
            <option>BU5</option>
        </select>
    </div>
</div>

<nav role="group" class="btn-group">
    <div role="group" class="btn-group">
        <buton type="button" class="btn btn-default" ui-sref="user_management.list">Users List</buton>
        <buton type="button" class="btn btn-default" ui-sref="user_management.roles">Manage Roles</buton>
        <buton type="button" class="btn btn-default" ui-sref="user_management.role-groups">Manage Groups</buton>
    </div>
</nav>

<nav role="group" class="btn-group bu-modules-buttons">
    <div role="group" class="btn-group">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn btn-default dropdown-toggle">Actions<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="vm.openUserPopup()">Add</a></li>
            <li><a ng-click="vm.openUserPopup()">Edit</a></li>
            <li><a ng-click="vm.deleteUser()">Remove</a></li>
        </ul>
    </div>
    <div role="group" class="btn-group">
        <buton type="button" class="btn btn-default">Block</buton>
        <buton type="button" class="btn btn-default">Enable</buton>
        <buton type="button" class="btn btn-default">Assign Role</buton>
    </div>
</nav>

<div class="content-main">
    <table class="table table-striped table-condensed table-bordered">
        <tr class="active">
            <th width="15%">Name</th>
            <th width="15%">Role</th>
            <th width="70%">Status</th>
        </tr>
        <tr>
            <td>User 1</td>
            <td>Admin</td>
            <td>Enabled</td>
        </tr>
        <tr>
            <td>User 2</td>
            <td>Editor</td>
            <td>Blocked</td>
        </tr>
        <tr>
            <td>User 3</td>
            <td>manager</td>
            <td>Enabled</td>
        </tr>
    </table>
</div>
